  {{template "header"}}
     	<title>文章 - 我的博客</title>
 	</head>
 	
 	<body>
 		<div class="bs-example bs-navbar-top-example" data-example-id="navbar-fixed-to-top">
 		        <div class="container">
 		           {{template "navbar" .}}
 		        </div>
 		</div>

 		<div class="container" >
 			<label>文章列表</label>
			<a href="/topic/add" class="btn btn-dafault">添加文章</a>
 				<table class="table table-striped">
 					<thead>
 						<tr>
 							<th>#</th>
 							<th>文章名称</th>
 							<th>最后更新</th>
 							<th>浏览</th>
							<th>回复数</th>
                                                                                            <th>op</th>
 						</tr>
 					</thead>
 					<tbody>
 						{{range .Topics}}
 						<tr>
 							<td><a href="/topic/view/{{.Id}}">{{.Id}}</a></td>
 							<td>{{.Title}}</td>
 							<td>{{.Updated}}</td>
 							<td>{{.Views}}</td>
							<td>{{.ReplyCount}}</td>
                                                                                        <td><a href="/topic/delete/{{.Id}}">delete</a></td>
 						</tr>
 						{{end}}
 					</tbody>
 				</table>
 			</div>

 			<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
 	</body>
 	
 </html>